body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.video-container {
    position: relative;
    width: 100%;
    display: block;
}

video {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4); /* Ajuste para mejorar el contraste */
}

/* Ajustes para el iframe de Google Forms */
iframe {
    border-radius: 15px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Sombra para dar profundidad */
    width: 90%; /* Ajusta al ancho del contenedor */
    max-width: 450px; /* Ancho máximo más pequeño para adaptar el diseño */
    height: 600px; /* Altura ajustada para contener mejor el formulario */
    background-color: #30d5c8; /* Color de fondo turquesa */
    padding: 15px; /* Espacio interior */
    border: none;
    display: block; /* Asegura que el iframe sea un bloque para centrar */
    margin: auto; /* Centra automáticamente el iframe horizontalmente */
}
